@import "./fonts.scss";

* {
  font-family: Montserrat !important;
}

.mt-field {
  margin-top: 10px;
}
.mt-sm {
  margin-top: 4px;
}
.mt-section {
  margin-top: 24px;
}
.ml-field {
  margin-left: 18px;
}